ProgramData/PC/S129_Portrayal/LineStyles/s100LineStyle.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:s100Symbol="http://www.iho.int/S100SymbolDefinition">
  <xs:import namespace="http://www.iho.int/S100SymbolDefinition"
  schemaLocation="S100SymbolDefinition.xsd"/>
  <xs:element name="lineStyleBase" type="s100Symbol:LineStyleBase"/>
  <xs:element name="lineStyle" type="s100Symbol:LineStyle" substitutionGroup="lineStyleBase"/>
  <xs:element name="compositeLineStyle" type="s100Symbol:CompositeLineStyle"
  substitutionGroup="lineStyleBase"/>
</xs:schema>